<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.jooq.tools.LoggerListener" level="DEBUG"/>
    <logger name="org.springframework.jdbc.core" level="TRACE"/>
    <logger name="org.springframework" level="OFF"/>
</configuration>